<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Transformation.PowerShell.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Transformation.PowerShell.Properties.Settings>
            <setting name="Transformation_PowerShell_WebPartPagesService_WebPartPagesWebService"
                serializeAs="String">
                <value>https://intranet.campoc.com/_vti_bin/webpartpages.asmx</value>
            </setting>
        </Transformation.PowerShell.Properties.Settings>
    </applicationSettings>
</configuration>